<dx-tab-panel
  #tabPanel
  [dataSource]="tabs"
  [(selectedIndex)]="selectTabIndex"
  [loop]="false"
  [animationEnabled]="false"
  [swipeEnabled]="false"
  itemTitleTemplate="title"
  itemTemplate="template"
  width="100%"
  height="100%"
  (onTitleClick)="selectTab($event)"
  (onContentReady)="onContentReady($event)"
  [showNavButtons]="showNavButtons"
>
  <div *dxTemplate="let tab of 'title'">
    <span [ngClass]="tabColor">{{ tab.text }}</span>
  </div>
  <div *dxTemplate="let tabContent of 'template'">
    <div class="h-full overflow-y-auto overflow-x-hidden px-2">
      <div class="row m-t-md m-b-md">
        <div class="tabpanel-item col-lg-12">
          <div
            *ngIf="optionList.length"
            tab-body
            [active]="selectTabIndex === optionList[tabContent.id]?.index"
            [content]="optionList[tabContent.id]?.content"
          ></div>
        </div>
      </div>
    </div>
  </div>
</dx-tab-panel>
