<div class="overflow-y-auto">
  <div class="overflow-x-hidden h-screen px-4 pt-4 pb-20">
    <ng-template [ngIf]="!insideModal">
      <h1 class="text-4xl font-normal leading-normal m-1 font-bold w-full">Manage Products</h1>
      <div class="w-full px-4 h-16 mb-12">
        <button class="text-white bg-red-600 font-bold text-base p-3 rounded m-1 float-right" (click)="deleteSelectedProducts()" *ngIf="productsList?.length > 0" [disabled]="!selectedProducts || selectedProducts.length === 0">
          Delete Selected Product(s)
        </button>
        <button class="text-white bg-blueGray-500 font-bold text-base p-3 rounded m-1 float-right" (click)="showNewProductModal()">
          Add New Product
        </button>
      </div>
    </ng-template>
    <div class="w-full p-4 shadow-lg rounded bg-white">
      <app-data-grid-client-side 
        [dataSource]="productsList"
        [selectionMode]="selectionMode"
        (rowPrepared)="rowPrepared($event)"
        (rowsSelected)="selectedRows($event)">                        
          <app-column *ngFor="let col of productColumns" 
            [name]="col.name" 
            [dataField]="col.dataField"
            [alignment]="col.alignment"
            [type]="col.type"
            [format]="col.format">
              <ng-template [ngIf]="col.type === 'custom'" let-item>
                <img src="data:image/jpg;base64,{{item?.productPhoto}}" style="height: 200px; width:200px;"/>
              </ng-template>
          </app-column>
      </app-data-grid-client-side>
    </div>
  </div>
</div>
