
.form-steps-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-step {
    display: flex;
}

.step-text {
    margin-left: 6px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.1em;
  color: #000;
}

.step-bubble {
    padding: 8px;
    border: 3px solid #4db848;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #3e709b;
  font-size: 2em;
  font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.step-divider {
    height: 2px;
    background: #4db848;
    flex: 1;
    margin: 0px 10px;
}

.step-current, .step-complete {
    background: #4db848;
    color: #FFF;
}

.step-incomplete {
    cursor: not-allowed;
    pointer-events: none;
  color: #4db848 !important;
}
