::ng-deep .drop-box {
    background-color: #fff !important;
    border-color: #71717a !important;
    border-width: 1px !important;
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
    font-size: 1rem !important;
    line-height: 1.35715 !important;
    height: 2.5rem !important;
}