<div class="modal-header">
  <h3 class="modal-title pull-left">{{ params.title }}</h3>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="close()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body" class="p-3 overflow-y-auto" [style.height]="params?.height ? params.height + 'px' : 'unset'">
  <template #container></template>
</div>
<div class="modal-footer">
  <button type="button" *ngIf="params.showConfirmButton" class="btn btn-secondary" (click)="params.checkBeforeSubmit ? requestClose() : confirm()">{{params.confirmText ?? 'OK'}}</button>
  <button type="button" class="btn btn-cancel" (click)="cancel()">{{params.cancelText ?? 'Cancel'}}</button> 
</div>
