<div class="modal-header">
  <h3 class="modal-title pull-left">{{ params.title }}</h3>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="close()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body" [style.height]="params.height + 'px'">
  <template #container></template>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="confirm()">{{params.confirmText}}</button>
  <button type="button" class="btn btn-secondary" (click)="cancel()">{{params.cancelText}}</button> 
</div>
