
<app-tabs [(selectTabIndex)]="selectTabIndex" tabColor="BlueGray">
    <app-tab title="Basic Information" [index]="0">
        <ng-template app-tab>
            <h6 class="w-full text-blueGray-500 text-base mt-3 mb-6 font-bold px-3 py-2">Product Information</h6>
            <div class="block">                
                <div class="w-full px-3">
                    <div class="flex flex-wrap">
                        <div class="w-1/2">
                            <div class="dx-fieldset mt-0">
                                <div class="dx-field">
                                    <div class="dx-field-label">Product Name</div>
                                    <div class="dx-field-value">
                                        <input type="text" [(ngModel)]="productName" class="w-full flex-1 text-blueGray-600 bg-white rounded input-text shadow focus:outline-none focus:ring" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-1/2">
                            <div class="dx-fieldset mt-0">
                                <div class="dx-field">
                                    <div class="dx-field-label">Product Price</div>
                                    <div class="dx-field-value">
                                        <input type="number" min="0.00" step="0.01" [(ngModel)]="productPrice" class="w-full flex-1 text-blueGray-600 bg-white rounded input-text shadow focus:outline-none focus:ring w-1/5" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-1/2">
                            <div class="dx-fieldset mt-0">
                                <div class="dx-field">
                                    <div class="dx-field-label">Quantity Type</div>
                                    <div class="dx-field-value">
                                        <app-select [(ngModel)]="quantityType">
                                            <app-select-option 
                                                *ngFor="let qtype of quantityTypes" 
                                                [value]="qtype.name" 
                                                [key]="qtype.id">
                                            </app-select-option>
                                        </app-select>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                        <div class="w-1/2">
                            <div class="dx-fieldset mt-0">
                                <div class="dx-field">
                                    <div class="dx-field-label">Produt Category</div>
                                    <div class="dx-field-value">
                                        <app-dropdown-box 
                                            [dataSource]="categories"
                                            valueExpr="categoryID"
                                            displayExpr="categoryName"
                                            parentIdExpr="parentID"
                                            [templateViewType]="templateViewType">
                                        </app-dropdown-box>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full flex flex-wrap">
                    <hr class="mt-6 border-b-1 border-blueGray-300 w-full" />
                    <div class="h-full w-full">
                        <app-product-specs [specFieldsValues]="productSpecValues"></app-product-specs>
                    </div>
                </div>
            </div> 
        </ng-template>
    </app-tab>
    <app-tab title="Product Pictures" [index]="1">
        <ng-template app-tab>
            <div class="block h-full">
                <div class="flex flex-wrap">
                    <div class="w-1/3">
                        <h6 class="text-blueGray-500 text-base mt-3 mb-6 font-bold">Upload Product Picture(s)</h6>
                        <app-file-uploader                                            
                            [allowedFileExtensions]="allowedFileExtensions"
                            [multiple]="true"
                            accept="image/*"
                            (valueChanged)="updateProductPhotos($event)">                                            
                        </app-file-uploader>
                    </div>
                    <div class="w-2/3 h-full p-4">
                        <app-gallery [dataSource]="imageFiles"></app-gallery>
                    </div>
                </div>
            </div>
        </ng-template>
    </app-tab>
</app-tabs>
