<div class="flex flex-wrap overflow-y-hidden">
  <div [ngClass]="{ 'w-1/8' : !collapsed, 'w-1/12' : collapsed }">
    <app-list [dataSource]="menu"
      [elementAttr]="elementAttr"
      [selectedItemKeys]="selectedItemKeys"
      (itemClick)="navigate($event)"
      keyExpr="url"
      displayExpr="title">
    </app-list>
  </div>
  <div [ngClass]="{ 'w-7/8' : !collapsed, 'w-11/12' : collapsed }">
    <div class="w-full p-2 bg-gray-100">
      <app-toolbar [(items)]="toolbarItems"></app-toolbar>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>