<ng-template [ngIf]="orderItems !== null && orderItems.length > 0">
    <div class="w-full p-4 shadow-lg rounded bg-white">    
        <div class="container px-4 mx-auto">
            <div class="flex flex-wrap">
                <div class="w-five-percent">
                    <span class="text-sm text-center block p-3 bg-blueGray-700 text-white rounded border border-solid border-blueGray-100">
                        <strong>#</strong>
                    </span>
                </div>
                <div class="w-five-percent">
                    <span class="text-sm text-center block p-3 bg-blueGray-700 text-white rounded border border-solid border-blueGray-100">
                        <strong>Qty</strong>
                    </span>
                </div>
                <div class="w-13-percent">
                    <span class="text-sm block p-3 bg-blueGray-700 text-white rounded border border-solid border-blueGray-100">
                        <strong>Product Code</strong>
                    </span>
                </div>
                <div class="w-17-percent">
                    <span class="text-sm block p-3 bg-blueGray-700 text-white rounded border border-solid border-blueGray-100">
                        <strong>Product Name</strong>
                    </span>
                </div>
                <div class="w-35-percent">
                    <span class="text-sm block p-3 bg-blueGray-700 text-white rounded border border-solid border-blueGray-100">
                        <strong>Product Description</strong>
                    </span>
                </div>
                <div class="w-ten-percent">
                    <span class="text-sm text-right block p-3 bg-blueGray-700 text-white rounded border border-solid border-blueGray-100">
                        <strong>Unit Price</strong>
                    </span>
                </div>
                <div class="w-ten-percent">
                    <span class="text-sm text-right block p-3 bg-blueGray-700 text-white rounded border border-solid border-blueGray-100">
                        <strong>Price</strong>
                    </span>
                </div>
            </div>                             
        </div>        
        <div class="container px-4 mx-auto" *ngFor="let item of orderItems; let i = index;">
            <div class="flex flex-wrap">
                <div class="w-five-percent">
                    <span class="text-sm text-center block p-3 text-blueGray-700 rounded border border-solid border-blueGray-100">{{i + 1}}</span>
                </div>
                <div class="w-five-percent">
                    <span class="text-sm text-center block p-3 text-blueGray-700 rounded border border-solid border-blueGray-100">{{item.quantity}}</span>
                </div>
                <div class="w-13-percent">
                    <span class="text-sm block p-3 text-blueGray-700 rounded border border-solid border-blueGray-100">{{item.productCode}}</span>
                </div>
                <div class="w-17-percent">
                    <span class="text-sm block p-3 text-blueGray-700 rounded border border-solid border-blueGray-100">{{item.productName}}</span>
                </div>
                <div class="w-35-percent">
                    <span class="text-sm block p-3 text-blueGray-700 rounded border border-solid border-blueGray-100">{{item.productDescription}}</span>
                </div>
                <div class="w-ten-percent">
                    <span class="text-sm text-right block p-3 text-blueGray-700 rounded border border-solid border-blueGray-100">{{item.productPrice | currency: 'EGP'}}</span>
                </div>
                <div class="w-ten-percent">
                    <span class="text-sm text-right block p-3 text-blueGray-700 rounded border border-solid border-blueGray-100">{{item.productPrice * item.quantity | currency: 'EGP'}}</span>
                </div>
            </div>                             
        </div>
    </div>
</ng-template>