<dx-list
    class="panel-list dx-theme-accent-as-background-color"
    [dataSource]="dataSource"
    [elementAttr]="elementAttr"
    [selectionMode]="selectionMode"
    [selectedItemKeys]="selectedItemKeys"
    [keyExpr]="keyExpr"
    [displayExpr]="displayExpr"
    [hoverStateEnabled]="hoverStateEnabled"
    [activeStateEnabled]="activeStateEnabled"
    [focusStateEnabled]="focusStateEnabled"
    [grouped]="grouped"
    [collapsibleGroups]="collapsibleGroups"
    (onItemClick)="itemClicked($event)">
</dx-list>