<!--        
<div class="w-full px-4" *ngFor="let row of dataSource; let i = index;">
    <div class="flex flex-wrap">
        <div *ngIf="selectionMode == 'multiple'" class="w-3-percent rounded border border-solid border-blueGray-100 h-4">
            <div class="text-center p-1">
                <input type="checkbox" [(ngModel)]="row.selected" (change)="rowCheckChanged()" class="p-3 my-1 text-blueGray-700 rounded-full text-xs"/>
            </div>
        </div>
        <div *ngIf="selectionMode == 'single'" class="w-3-percent rounded border border-solid border-blueGray-100 h-4">
            <div class="text-center p-1">
                <input type="radio" [checked]="row.selected" (click)="rowChecked(row)" class="p-3 my-1 text-blueGray-700 rounded-full text-xs"/>
            </div>
        </div>
        <div class="w-9-percent rounded border border-solid border-blueGray-100 h-4">
            <span class="text-sm text-center block p-3 text-blueGray-700">
                <span *ngIf="expandRowDetails" 
                    class="arrow bg-white text-emerald-200 font-bold uppercase text-xs pull-left mt-1" [ngClass]="row.rowExpanded ? 'down' : 'right'" (click)="getOrderContent(row.orderID, i)">
                </span>
                {{ row.orderID | number: '5.0' | removeComma }}
            </span>
        </div>
        <div class="w-15-percent rounded border border-solid border-blueGray-100 h-4">
            <span class="text-sm text-center block p-3 text-blueGray-700">
                {{row.username}}
            </span>
        </div>
        <div class="w-1/5 rounded border border-solid border-blueGray-100 h-4">
            <span class="text-sm block p-3 text-blueGray-700">
                {{row.email}}
            </span>
        </div>
        <div class="w-9-percent rounded border border-solid border-blueGray-100 h-4">
            <span class="text-sm block p-3 text-blueGray-700">
                {{row.phoneNumber}}
            </span>
        </div>
        <div class="w-9-percent rounded border border-solid border-blueGray-100 h-4">
            <span class="text-sm block p-3 text-blueGray-700">
                {{row.orderDate | date: 'dd-MM-yyyy' }}
            </span>
        </div>
        <div class="w-7-percent rounded border border-solid border-blueGray-100 h-4">
            <span class="text-sm block p-3 text-blueGray-700">
                {{row.orderDate | date: 'hh:mm a' }}
            </span>
        </div>
        <div class="w-9-percent rounded border border-solid border-blueGray-100 h-4">
            <span *ngIf="!row.editMode" class="text-sm text-center block p-3 text-blueGray-700">
                {{row.status.statusName }}
            </span>
            <span *ngIf="row.editMode" class="text-sm block">
                <div class="absolute w-8-5-percent cursor-pointer text-white font-bold uppercase text-sm rounded shadow bg-red-500" (click)="row.dropDownOpened = !row.dropDownOpened" type="button">
                    <div class="text-center w-full flex">
                        <ng-template ngFor let-stat [ngForOf]="statusLookup">
                            <ng-template [ngIf]="stat.selected">
                                <div class="h-12 w-10/12 px-4 pt-3">
                                    {{stat.statusName}}
                                </div>
                            </ng-template>
                        </ng-template>
                        <div class="h-12 w-1/6 vl pt-4">
                            <span class="arrow down text-white bg-red-500 pull-left border-white">
                            </span>
                        </div>
                    </div>
                    <div class="z-10" *ngIf="row.editMode && row.dropDownOpened">
                        <div class="bg-red-500 text-base float-right py-2 text-left rounded shadow-lg w-full">
                            <a *ngFor="let status of statusLookup" class="h-12 text-sm pt-3 w-full block hover:bg-red-700 whitespace-no-wrap text-center text-white" (click)="statusSelected(status.statusID)">
                                {{status.statusName}}
                            </a>
                        </div>
                    </div>
                </div>
            </span>
        </div>
        <div class="w-9-percent rounded border border-solid border-blueGray-100 h-4">
            <span class="text-sm text-right block p-3 text-blueGray-700">
                {{row.orderCost | currency: 'EGP'}}
            </span>
        </div>
        <div class="w-10-percent rounded border border-solid border-blueGray-100 h-4">
            <span class="text-sm text-center block p-2 text-blueGray-700">
                <i *ngIf="!row.editMode" (click)="row.editMode = true; statusSelected(row.status.statusID)" class="fa fa-edit cursor-pointer i-action"></i>
                <i *ngIf="row.editMode" (click)="row.editMode = false; updateOrderStatus(row.orderID);" class="fa fa-save  cursor-pointer i-action"></i>
                <i *ngIf="row.editMode" (click)="row.editMode = false; statusSelected(0)" class="fa fa-ban  cursor-pointer i-action"></i>
            </span>
        </div>
    </div>  
    <div class="w-full" *ngIf="row.rowExpanded">
        <app-order-content [orderItems]="row.orderItems"></app-order-content>
    </div>                           
</div>-->

<div class="w-full px-4">
    <div class="flex flex-wrap">
        <div *ngIf="selectionMode === 'multiple'" class="w-3-percent bg-blueGray-700 rounded border border-solid border-blueGray-100 h-4">
            <div class="text-center p-1 bg-blueGray-700 rounded border border-solid border-blueGray-100 h-4">
                <input type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()" class="p-3 my-1 text-blueGray-700 rounded-full text-xs" />
            </div>
        </div>
        <div *ngIf="selectionMode === 'single'" class="w-3-percent bg-blueGray-700 rounded border border-solid border-blueGray-100 h-4">
            <div class="text-center p-1 bg-blueGray-700 rounded border border-solid border-blueGray-100 h-full">
            </div>
        </div>
        <app-data-column *ngFor="let column of columns" [column]="column"></app-data-column>        
        <div class="w-10-percent bg-blueGray-700 rounded border border-solid border-blueGray-100 h-4">
        </div>
    </div>                             
</div>        
<div class="w-full px-4" *ngFor="let row of dataSource; let i = index;">
    <div class="flex flex-wrap">
        <div *ngIf="selectionMode === 'multiple'" class="w-3-percent rounded border border-solid border-blueGray-100 h-4">
            <div class="text-center p-1">
                <input type="checkbox" [(ngModel)]="row.selected" (change)="rowCheckChanged()" class="p-3 my-1 text-blueGray-700 rounded-full text-xs"/>
            </div>
        </div>
        <div *ngIf="selectionMode === 'single'" class="w-3-percent rounded border border-solid border-blueGray-100 h-4">
            <div class="text-center p-1">
                <input type="radio" [checked]="row.selected" (click)="rowChecked(row)" class="p-3 my-1 text-blueGray-700 rounded-full text-xs"/>
            </div>
        </div>
        <div class="w-9-percent rounded border border-solid border-blueGray-100 h-4">
            <span class="text-sm text-center block p-3 text-blueGray-700">
                <span *ngIf="expandRowDetails" 
                    class="arrow bg-white text-emerald-200 font-bold uppercase text-xs pull-left mt-1" [ngClass]="row.rowExpanded ? 'down' : 'right'" (click)="getOrderContent(row.orderID, i)">
                </span>
                {{ row.orderID | number: '5.0' | removeComma }}
            </span>
        </div>
        <div class="w-15-percent rounded border border-solid border-blueGray-100 h-4">
            <span class="text-sm text-center block p-3 text-blueGray-700">
                {{row.username}}
            </span>
        </div>
        <div class="w-1/5 rounded border border-solid border-blueGray-100 h-4">
            <span class="text-sm block p-3 text-blueGray-700">
                {{row.email}}
            </span>
        </div>
        <div class="w-9-percent rounded border border-solid border-blueGray-100 h-4">
            <span class="text-sm block p-3 text-blueGray-700">
                {{row.phoneNumber}}
            </span>
        </div>
        <div class="w-9-percent rounded border border-solid border-blueGray-100 h-4">
            <span class="text-sm block p-3 text-blueGray-700">
                {{row.orderDate | date: 'dd-MM-yyyy' }}
            </span>
        </div>
        <div class="w-7-percent rounded border border-solid border-blueGray-100 h-4">
            <span class="text-sm block p-3 text-blueGray-700">
                {{row.orderDate | date: 'hh:mm a' }}
            </span>
        </div>
        <div class="w-9-percent rounded border border-solid border-blueGray-100 h-4">
            <span *ngIf="!row.editMode" class="text-sm text-center block p-3 text-blueGray-700">
                {{row.status.statusName }}
            </span>
            <span *ngIf="row.editMode" class="text-sm block">
                <div class="absolute w-8-5-percent cursor-pointer text-white font-bold uppercase text-sm rounded shadow bg-red-500" (click)="row.dropDownOpened = !row.dropDownOpened" type="button">
                    <div class="text-center w-full flex">
                        <ng-template ngFor let-stat [ngForOf]="statusLookup">
                            <ng-template [ngIf]="stat.selected">
                                <div class="h-12 w-10/12 px-4 pt-3">
                                    {{stat.statusName}}
                                </div>
                            </ng-template>
                        </ng-template>
                        <div class="h-12 w-1/6 vl pt-4">
                            <span class="arrow down text-white bg-red-500 pull-left border-white">
                            </span>
                        </div>
                    </div>
                    <div class="z-10" *ngIf="row.editMode && row.dropDownOpened">
                        <div class="bg-red-500 text-base float-right py-2 text-left rounded shadow-lg w-full">
                            <a *ngFor="let status of statusLookup" class="h-12 text-sm pt-3 w-full block hover:bg-red-700 whitespace-no-wrap text-center text-white" (click)="statusSelected(status.statusID)">
                                {{status.statusName}}
                            </a>
                        </div>
                    </div>
                </div>
            </span>
        </div>
        <div class="w-9-percent rounded border border-solid border-blueGray-100 h-4">
            <span class="text-sm text-right block p-3 text-blueGray-700">
                {{row.orderCost | currency: 'EGP'}}
            </span>
        </div>
        <div class="w-10-percent rounded border border-solid border-blueGray-100 h-4">
            <span class="text-sm text-center block p-2 text-blueGray-700">
                <i *ngIf="!row.editMode" (click)="row.editMode = true; statusSelected(row.status.statusID)" class="fa fa-edit cursor-pointer i-action"></i>
                <i *ngIf="row.editMode" (click)="row.editMode = false; updateOrderStatus(row.orderID);" class="fa fa-save  cursor-pointer i-action"></i>
                <i *ngIf="row.editMode" (click)="row.editMode = false; statusSelected(0)" class="fa fa-ban  cursor-pointer i-action"></i>
            </span>
        </div>
    </div>  
    <div class="w-full" *ngIf="row.rowExpanded">
        <app-order-content [orderItems]="row.orderItems"></app-order-content>
    </div>                           
</div>